body{
    font-family: 'Work Sans';
}
header {
    background-image: url(./images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 808px;
}

.flex-container {
    font-family: 'Work Sans';
    display: flex;
    padding-left: 1240px;
    padding-top: 95px;
    padding-right: 155px;
    float: left;
    justify-content: flex-end;
    flex-direction: column;
    flex-flow: row wrap;
    width: auto;
    text-align: right;
}

.flex-heading {
    font-family: 'Work Sans';
    color: white;
    font-weight: 700;
    font-style: Bolder;
    font-size: 65px;
    line-height: 76px;
    line-height: 100%;
}

.flex-paragraph {
    font-family: 'Work Sans';
    color: white;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    line-height: 139%;
}

.header-button {
    color: dodgerblue;
    background-color: white;
    font-style: Bold;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    line-height: 100%;
    padding: 25px;
    border: none;
    border-radius: 5px;
}

/* section styles */
.section-container{
    margin-top: 131px;
    margin-left: 206px;
    margin-right: 322px;
    display: flex;
    align-items: center;
}
.mark-icon{
    height: 22px;
    width: 24px;
}
.section-title{
    /* justify-content: center; */
    padding-right: 5px;
}
